.my-navbar
{
    min-height: 80px !important;
    background-color: rgb(64, 90, 206) !important;
}

.btn-login
{
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    width: 6rem;
}

.btn-login:hover
{
    background-color: #fff;
    animation: 1s linear;
}