<template>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark my-navbar">
            <router-link :to="{ name: 'home' }" class="navbar-brand">BEST TECH</router-link>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mr-4 ml-4 active">
                        <router-link :to="{ name: 'home' }" class="nav-link">HOME</router-link>
                    </li>
                    <li class="nav-item mr-4 ml-4">
                        <router-link :to="{ name: 'about' }" class="nav-link">TENTANG</router-link>
                    </li>
                    <li class="nav-item mr-4 ml-4">
                        <router-link :to="{ name: 'contact' }" class="nav-link">KONTAK</router-link>
                    </li>
                </ul>
                <form class="form-inline ml-4 my-2 my-lg-0">
                    <button class="btn btn-login my-2 my-sm-0">LOGIN</button>
                </form>
            </div>
        </nav>
    </div>
</template>

<script>
    export default {


    }
</script>